[2018-09-14 12:02] kyvaith opened #1 "DSDT patches"
Hi,

Can you provide a list of patches for your DSDT?

Thanks.

[2018-09-14 16:18] rafaelmaeuer commented on #1
Hi,
I am just using an already patched DSDT so I am sorry I cannot provide this. But have a look at [danieleds](https://github.com/danieleds/Asus-UX32VD-Hackintosh/tree/master/src/DSDT) repo, there you can find a good list to start with.

[2018-09-14 16:20] kyvaith commented on #1
Thanks. May I ask where have you found the patched DSDT? The one in @danieleds repo od diferent.

[2018-09-14 16:24] rafaelmaeuer commented on #1
puh im not sure if I can find the source again, has been some time ago, if I have some time I will have a look for it.

[2018-09-14 16:28] kyvaith commented on #1
Great, thank you :)

[2018-09-15 22:26] rafaelmaeuer commented on #1
Hey,

you might have luck looking at these two links I found in my archive, there are some DSDTs provided:
https://www.insanelymac.com/forum/topic/281201-booting-mountain-lion-on-an-asus-ux32vd/
https://www.insanelymac.com/forum/topic/283038-asus-zenbook-prime-ux31a-db51-ultrabook-fixes-mods-tweaks-etc/

[2018-12-05 17:08] idoo opened #2 "DSDT.aml is missing"
Thank you for your awesome work! I'm trying to install mac on my ux32v, but looks DSDT.aml is missed, where I could find it?

[2018-12-05 17:35] idoo opened #3 "Step missed"
On Unibeast install step, I have to select UEFI or `compatibility`

What I should select?

[2018-12-05 17:40] idoo commented on #2
sorry, I'm idiot ¯\_(ツ)_/¯
 found it `EFI/CLOVER/ACPI/patched/`

[2018-12-05 17:54] #2 closed

[2018-12-05 23:07] idoo commented on #3
@rafaelmaeuer btw, are you still using it?

[2018-12-06 12:05] idoo opened #4 "Kernel panic and broken screen"
hello, I did such steps that you described but got

![unadjustednonraw_thumb_30fd](https://user-images.githubusercontent.com/738921/49583109-31125480-f968-11e8-9aff-31602a240bb9.jpg)

can it happens because I have extra 8gb of memory instead of default 2gb?

I tried to co copy EFI from your repo and did in console

`sudo "/Applications/Install macOS High Sierra.app/Contents/Resources/createinstall

[2018-12-06 15:02] #1 closed

[2018-12-06 15:12] rafaelmaeuer commented on #3
Hi @idoo, yes I have it still in use, I was thinking about upgrading to Mojave, but need some time to do this. I don't remember exactly what to select, I guess you should go with UEFI, try it out. I will definitely know when doing the reinstall, but it will be around next year probably.

[2018-12-06 15:13] rafaelmaeuer commented on #4
Hi @idoo it is important that you use UniBeast v8.1.0 and I mean this specific version. Otherwise I wasn't able to create a working install media.

[2018-12-06 15:48] idoo commented on #4
i did it with uniboot from your repo, but result is same, maybe because i
use mojavie to install it ¯\_(ツ)_/¯

may be you have a usb drive or image of disk that you used for boot? in
this case I can use it to check

On 6 December 2018 at 18:13:31, rafaelmaeuer (notifications@github.com)
wrote:

[2018-12-06 15:55] rafaelmaeuer commented on #4
I forgot to mention, I use 8GB of extra RAM too so this wont be the issue. I guess the problem is Mojave then. Maybe you need to try the newest unibeast version for that. Tell me if you have success!

[2018-12-06 17:52] idoo commented on #4
@rafaelmaeuer I tried uniboot from your repo and latest one, got same result :(

Also tried different versions of clover :(

[2018-12-07 20:03] idoo commented on #3
@rafaelmaeuer I believe it was UEFI because I've tried compatibility mode and it just not booting after patching, but can't confirm it because still can't get it loaded

[2018-12-10 11:30] idoo commented on #4
Spent weekends to get it run, no change ¯\_(ツ)_/¯ Even El Capitan doesn't boot :(

@rafaelmaeuer could you please try to create a USB drive based on this steps, is it bootable?

Also could you please post BIOS configuration, please?

[2018-12-10 12:17] idoo commented on #4
looks like correct one is

[code]

for install should be disabled, than usb3 support
`XHCI Pre – Boot Mode = Enabled`

[2018-12-10 22:24] rafaelmaeuer commented on #4
Hi, @idoo,

I will try to create a working boot stick.
My Bios is version 214 with following settings:

[code]

[2018-12-11 05:10] idoo commented on #4
hm, have exactly the same ¯\_(ツ)_/¯

[2018-12-11 05:11] idoo commented on #4
@rafaelmaeuer I'll cross my fingers and will wait for that USB :)

As I got, something wrong with `DSDT.aml` and `SSDT.aml` files from this repo, they are doesn't works on latest Hight Sierra

[2018-12-13 06:49] idoo commented on #4
@rafaelmaeuer any luck?

[2018-12-13 18:28] rafaelmaeuer commented on #4
Hey @idoo,

I was able to create a bootable USB-drive for Mojave.
Therefore I updated all kexts and the readme should now contain the correct information about how to rebuild it. Im currently figuring out how to get Mojave booting 😄

Good luck.

Proof:
![img_4556](https://user-images.githubusercontent.com/6418459/49959195-2c701200-ff0d-11e8-9edb-6dcc44c27b30.JPG)

[2018-12-13 18:31] idoo commented on #4
@rafaelmaeuer could you please make a copy of your USB and share it with me somehow?)

[2018-12-13 18:32] idoo commented on #4
btw, what is your WIFI card? Looks like default one would not work mac, right?

[2018-12-13 18:34] rafaelmaeuer commented on #4
The USB is about 8GB, please follow the readme and try to build it on your own.
Yes WiFi card is replaced by Broadcom BCM4352, I will add the information to the readme.

[2018-12-13 18:35] idoo commented on #4
and do you know, how I can generate

DSDT.aml & SSDT.aml ?

Looks that some problem when I'm using that files

http://bit.ly/2QtM9F7

is that one good?

[2018-12-13 18:38] rafaelmaeuer commented on #4
The generation of SSDT is covered by the readme: [Link](https://github.com/rafaelmaeuer/Asus-UX32VD-Hackintosh#ssdt). DSDT is not, because the one in the repo works quite perfect for me. For DSDT patching have a look at this repo: [Link](https://github.com/danieleds/Asus-UX32VD-Hackintosh/tree/master/src/DSDT)

[2018-12-13 18:41] rafaelmaeuer commented on #4
looks fine, think about the need of cable-adapters when switching to another card: [Link](http://forum.notebookreview.com/threads/upgrading-asus-ux32vd-wireless-card-antenna-connector-problem-help.731735/)

[2018-12-13 18:49] idoo commented on #4
ah, I saw it, are you sure that UX32VD contains `SandyBridge` ?

https://www.asus.com/Laptops/ASUS-ZenBook-UX32VD/specifications/

https://ark.intel.com/products/65707/Intel-Core-i5-3317U-Processor-3M-Cache-up-to-2-60-GHz-

Looks like `Products formerly Ivy Bridge`

and from docs

`1 = Ivy Bridge` from ssdtPRGen.sh

[2018-12-13 19:02] idoo commented on #4
looks fine, think about the need of cable-adapters when switching to another card: Link

why do I need it? looks connectors are same

that one I have now:

![unadjustednonraw_thumb_13](https://user-images.githubusercontent.com/738921/49961059-c0000d80-ff22-11e8-8a7d-44e573ee91c9.jpg)

[2018-12-13 19:14] rafaelmaeuer commented on #4
looks same but is different believe me, have a look at this [blog entry](http://forum.notebookreview.com/threads/upgrading-asus-ux32vd-wireless-card-antenna-connector-problem-help.731735/)

[2018-12-13 19:16] rafaelmaeuer commented on #4
Yes you are right, it is ivy bridge

[2018-12-13 20:19] idoo commented on #4
is that one good? http://bit.ly/2S3HNSc
only connector different? so, I can use a blowtorch :)

[2018-12-13 20:24] rafaelmaeuer commented on #4
it looks familiar to what I used, why using a blowtorch? I just plugged the adapters in between.

[2018-12-13 20:31] idoo commented on #4
hmm, do you know any cards with Bluetooth 5,0 or at least wifi a/c compatible with mac and that asus?
as I understood, I need kext anyway for patching, right?

does your Bluetooth/Airdrop work well?

[2018-12-13 21:00] rafaelmaeuer commented on #4
sorry I didn't investigated about BT 5.0 cards. Yes the Broadcom card needs 2 kexts to run Wifi, and 2 for BT. Im very happy with it, it supports a/c and I'm using it in my other Hackintosh as well with apple Mouse and Keyboard - without problems. I don't use airdrop much so cant tell about that.

[2018-12-14 10:42] rafaelmaeuer commented on #3
In my test only with legacy option the drive was able to boot. But now for mojave unibeast is not longer necessary.

[2018-12-14 10:42] #3 closed

[2018-12-14 10:46] idoo opened #5 "Network card"
could you please describe what kind of network card are you using?
Since we have some conversation here https://github.com/rafaelmaeuer/Asus-UX32VD-Hackintosh/issues/4

[2018-12-14 10:46] idoo commented on #4
did you get Mojave install work?

[2018-12-14 10:48] rafaelmaeuer commented on #4
check!
![img_4559](https://user-images.githubusercontent.com/6418459/49999042-18242780-ff96-11e8-822f-eabf80982969.JPG)

[2018-12-14 10:48] idoo commented on #4
looks sexy!
On Wednesday I'll come back home and will try to install it!

Btw, please do not clear your USB drive, ok?)

[2018-12-18 16:50] idoo commented on #4
@rafaelmaeuer I'm having `The disk could not be created because of an error: An error occured: -1728. Finder got an error: Can’t get disk "Install macOS Mojave".`
when I use disc creator tool

maybe you could create a copy of your USB and share it somehow?

[2018-12-18 19:48] idoo commented on #4
Finally, I did startup disk with `Install Disk Creator` but have such problem

any ideas?

![unadjustednonraw_thumb_3155](https://user-images.githubusercontent.com/738921/50179013-0c7a8d00-0317-11e9-90ed-0370bb20534d.jpg)

[2018-12-18 19:59] rafaelmaeuer commented on #4
I experienced some graphic glitches sometimes too, but it looks different from what you got. In my case it helps to close the lid, wait for some seconds (best is until going into sleep mode) then waking up by pressing power-button and then arrow-up key to get display showing up again. Maybe try this.

[2018-12-19 05:15] idoo commented on #4
Finally I installed it (created PR)

![unadjustednonraw_mini_3159](https://user-images.githubusercontent.com/738921/50200234-095abd80-0366-11e9-8195-24b26a745c9b.jpg)
sometimes (often) I have such issue

that keep on screen after restart for few minutes, so looks something completely wrong and it could damage screen

![unadjustednonraw_thumb_3158](https://user-images.githubusercontent.com/738921/5

[2018-12-19 05:18] idoo opened #7 "Install clover after instalation"
Currently, I have an issue with `Install Clover in EFI partition of OS X HDD`

I booted to Mac, installed clover to root device, but it still didn't get a boot, any ideas how to fix?

[2018-12-19 05:19] idoo opened #8 "Multitasking touchpad"
as I can see it shoul works by default with ApplePS2SmartTouchPad
[code]

Is there option to get multitasking on the touchpad?

[2018-12-19 05:21] idoo opened #9 "Brightness automatically goes down"
After install, I have an issue. During work, the brightness automatically goes down and I have to increase it manually. Any ideas what it can be related?

[2018-12-19 05:21] idoo opened #10 "nv_disable=1"
Do we need that parameter during boot?

[2018-12-19 05:35] idoo opened #11 "Sleep on close doesn't work"
Any ideas how to fix sleep?

[2018-12-19 05:37] idoo opened #12 "Enable TRIM on SSD"
Any ideas how to enable trim?

I know only https://cindori.org/trimenabler/ that tool, is it good?

also here is way with
`sudo trimforce enable`

https://www.hackintosh.computer/190/enable-trim-on-macos/

[2018-12-19 05:41] idoo opened #13 "Boot only with left USB"
For some reasons, I could boot install only from USB located on the left side. Is it cult of cargo or some particular reasons to work like that?

[2018-12-19 05:48] idoo opened #14 "Mojave theme"
what do you think about that theme?
https://sourceforge.net/p/cloverefiboot/themes/ci/master/tree/themes/Mojave/

do we need to add it?

![image](https://user-images.githubusercontent.com/738921/50201429-1d54ee00-036b-11e9-95d7-9ceeca737d30.png)

[2018-12-19 08:57] idoo commented on #7
https://www.tonymacx86.com/threads/solved-uefi-clover-boot-option-gone-after-bios-update.211715/#post-1409404

that fixed booting without USB, do we need to add it to docs?
`bcfg boot dump` =>

the latest was 01, so

`bcfg boot add 01 FS2:\EFI\CLOVER\CLOVERX64.EFI CloverUEFI`

[2018-12-19 10:15] rafaelmaeuer commented on #7
I forgot to write about this, yes we should add it to the docs. I added the clover boot entry directly in BIOS. Maybe we should add both solutions.

[2018-12-19 10:18] rafaelmaeuer commented on #9
Yes this has to do with the ALS sensor which is controlled by the AsusNBFnKeys.kext. I disabled it as it was annoying, read here about configuration: https://osxlatitude.com/forums/topic/1968-fn-hotkey-and-als-sensor-driver-for-asus-notebooks/

[2018-12-19 10:24] rafaelmaeuer commented on #10
this is necessary to disable integrated nvidia chip from being initialized. Bringing the nvidia gpu to work is a project for itself, but as there is no nvidia webdriver support from Mojave onwards, I guess an unnecessary try without options for hardware acceleration.

[2018-12-19 10:25] rafaelmaeuer commented on #14
it looks cool, yes we can add it to the clover themes

[2018-12-19 10:28] rafaelmaeuer commented on #4
Congrats first, I see you added a lot of tickets. The grafics glitch doesn't occur that often at mine and also only on os x booting, never after reboot...

[2018-12-19 10:36] rafaelmaeuer commented on #8
Multitasking is working (try 2-finger right-click or scroll in browser) or 4-finger-stretch/ or -join. But they are not correctly mapped to the native os x gestures. Read more here about ApplePS2SmartTouchPad.kext here: https://osxlatitude.com/forums/topic/1948-elan-focaltech-and-synaptics-smart-touchpad-driver-mac-os-x/

[2018-12-19 10:37] rafaelmaeuer commented on #8
Nevertheless I never was really happy with the driver, as it will not feel as fluent as on Windows or a real mac touchpad.

[2018-12-19 10:38] rafaelmaeuer commented on #9
You also can disable fine-adjustment of brightness there, which I found annoying too :D

[2018-12-19 10:44] rafaelmaeuer commented on #10
I just checked my clover config and I don't have this bootflag enabled anymore so no we don't need it during boot.

[2018-12-19 10:46] rafaelmaeuer commented on #13
I didn't experienced this behavior yet. In my last install case the install usb was also plugged into the left side port, but I will try another one on next install.

[2018-12-19 10:49] rafaelmaeuer commented on #12
Did not take care of this yet.

[2018-12-19 10:52] idoo commented on #12
`sudo trimforce enable` helped me, so could you try it and add to readme?

[2018-12-19 10:54] idoo commented on #8
so, there is no way to map it correctly?

[2018-12-19 10:58] idoo commented on #9
as I get, there is no way to disable them ob boot step?

[2018-12-19 10:59] idoo commented on #4
I happens on each 2nd/3rd boot, so anyway would be nice to find a reason of this

[2018-12-19 11:09] idoo opened #15 "Thank you for your help!"
![giphy](https://user-images.githubusercontent.com/738921/50216739-a4b85680-0397-11e9-9c8c-aebe5762ee60.gif)

[2018-12-19 12:44] rafaelmaeuer commented on #11
I cannot properly test this at the moment, as I am running Mojave on my test SSD connected via USB. After wakeup the system freezes. Need to test this from internal SSD.

[2018-12-19 12:46] rafaelmaeuer commented on #4
I had the issue just at my last reboot. Just closing the lid shortly and reopening followed by pressing arrow-up resulted in correct grafics displayed again.

[2018-12-19 12:47] rafaelmaeuer commented on #8
I don't know check it out :D

[2018-12-19 13:07] idoo commented on #11
it just waked up immediately, do you know a way how to debug it? maybe some kext prevent that process?

[2018-12-19 13:09] idoo commented on #8
as I can see there is `Fixed a bug with Karabiner app to allow mapping` in changelog

but at the same moment during four fingers swipe — it just randomly generates something with cmd, back etc keys

[2018-12-19 13:11] idoo commented on #8
did you try https://bitbucket.org/RehabMan/os-x-voodoo-ps2-controller/downloads/ ?
I tried, but looks it's not used by my system

looks like just put to `efi\...\others` not enough, there are some cache I guess

[2018-12-19 13:17] idoo commented on #8
[code]
it's what you mean?

I modified existing kext and now it works better with swipes :) will upload id once finish gestures modification

is there way to extract that fixes to https://github.com/rafaelmaeuer/Asus-UX32VD-Hackintosh/blob/master/EFI/CLOVER/config.plist

?

[2018-12-19 14:02] #10 closed

[2018-12-19 20:30] rafaelmaeuer commented on #8
I used Karabiner to switch functionality of cmd with alt key, what is a more intuitive way of using, maybe there is another solution by patching the kext, but this was straight forward.

Do you mean adding the kext patches to clover config? I guess its possible with clover's kextToPatch-section, have a look at this: https://www.insanelymac.com/forum/topic/311512-clover-efi-bootloader-understanding

[2018-12-23 14:27] idoo opened #16 "Update clover"
Add update clover section:

Draft:
[code]

[2018-12-23 14:41] idoo commented on #8
For history codes fore remap:

https://osxlatitude.com/forums/topic/5966-details-about-the-smart-touchpad-driver-features/

@rafaelmaeuer you could remap without karabiners
https://osxlatitude.com/forums/topic/5969-details-about-the-enhanced-keyboard-for-smart-touchpad-driver/

btw, what is you karabiner config? did you moved fn to ctrl or it's not possible?

[2018-12-23 14:53] idoo commented on #12
there are patch as well in clover configurator

[code]

but I didn't tested it since https://github.com/rafaelmaeuer/Asus-UX32VD-Hackintosh/issues/12#issuecomment-448552812 works well for me

[2018-12-23 16:36] idoo opened #17 "Screen resolution"
Are you able to check default screen resolution in windows/linux? looks like 1600x900 is not best (or at least not HiDPi) for that display and 1920x1080 too small for me

[2018-12-23 18:16] idoo commented on #9
Looks I disable it by modifying kext, but probably better to debug and modify values of light sensor to correct one

[2018-12-23 19:09] idoo commented on #4
Looks like it's our case
https://www.tonymacx86.com/threads/solved-black-screen-after-upgrade-to-high-sierra.237050/page-10

[2018-12-23 20:57] idoo commented on #4
Tested — doesn't solved it

https://www.tonymacx86.com/threads/guide-intel-framebuffer-patching-using-whatevergreen.256490/

another option

[2018-12-24 11:50] idoo commented on #4
asked for help here https://www.tonymacx86.com/threads/asus-ux32vd-graphics-crashed.268035/#post-1877976

[2018-12-24 12:12] idoo opened #18 "Update APFS"
I updated APFS lib from here and it works well

https://github.com/acidanthera/AppleSupportPkg/releases

Do we need to update it in the repo?

[2018-12-24 12:12] idoo commented on #18
AppleUiSupport.efi
ApfsDriverLoader.efi
copied that two files btw

[2018-12-24 16:32] idoo opened #19 "Update Lilu"
https://github.com/acidanthera/Lilu/releases

[2018-12-24 23:08] idoo commented on #11
I replaced SMBIOS to mac 13,1 and sleep mode now works well, but USB after wake up doesn't work :(

[2018-12-25 13:39] idoo commented on #11
looks like USB doesn't work even before sleep, so as I got USB preventing laptop to go to sleep

[2018-12-25 21:59] rafaelmaeuer commented on #17
I use 1920x1080 in Windows which works fine for me

[2018-12-25 22:03] rafaelmaeuer commented on #4
can you avoid writing my clear name in blogs please ([link](https://www.tonymacx86.com/threads/asus-ux32vd-graphics-crashed.268035/#post-1878003)). Maybe write repository owner? Display issue should go to a new topic btw.

[2018-12-26 10:22] idoo commented on #4
sorry, removed it!

[2018-12-26 10:24] idoo commented on #17
but you could see, that HDPI mode isn't enabled?

You could compare with HDPI mode by toggle it with [SwitchResX](http://www.madrau.com/)

[2018-12-26 12:31] idoo commented on #4
what do you think, maybe we should use such patch?
https://olarila.com/forum/viewtopic.php?t=3111

[2018-12-26 22:55] rafaelmaeuer commented on #4
what is it good for?

[2018-12-26 22:56] #7 closed

[2018-12-26 22:57] idoo commented on #4
I tried — it doesn't solve the issue

I thought t could be related to `Framebuffer`, but more looks like some memory patch goes wrong

[2018-12-26 22:57] #15 closed

[2018-12-26 23:08] #18 closed

[2018-12-26 23:12] #19 closed

[2018-12-26 23:16] rafaelmaeuer commented on #16
added to readme

[2018-12-26 23:16] #16 closed

[2018-12-26 23:16] rafaelmaeuer commented on #19
updated to 1.2.9

[2018-12-26 23:17] rafaelmaeuer commented on #14
boot theme added

[2018-12-26 23:17] #14 closed

[2018-12-26 23:35] idoo commented on #4
What do you think, could it be related to our differences in hardware? I have i5 core and maybe I should create my own version of DSDT ?

[2018-12-27 14:28] rafaelmaeuer commented on #4
I'm not sure, but creating your own DSDT might be a good idea, it could solve some of your problems. If you are able to do it, please document your steps for the DSDT section in the readme!

[2018-12-30 20:59] idoo commented on #5
@rafaelmaeuer I just received my AW-CE123H card but my WIFI still doesn't work

did you make some hardware fixes? or it should work with kext from repo?

[2018-12-30 21:57] idoo commented on #5
because in my case I required to put

FakePCIID_Intel_GbX.kext
FakePCIID_Broadcom_WiFi.kext

as well

[2018-12-31 13:14] rafaelmaeuer commented on #5
So does it work for you now? Its strange, I use the card in two Hackintosh and I use a different combination of kexts for both...

[2019-01-01 21:48] idoo commented on #5
yes, but didn’t tested it properly because still didn’t receive cords
And thank you again — that cards contains different connectors

[2019-01-14 06:59] idoo opened #23 "FSInject"
For what purposes do we need it? look like it works well without it

[2019-01-28 13:41] idoo opened #25 "DSDT generation"
I'm trying to generate my own DSDT what I did:

1. extracted by pressing `F4` on the clover boot screen
2. installed https://bitbucket.org/RehabMan/acpica/downloads/
[code]
3. copied my `DSDT` and `SSDT*.aml` files to dev folder and run
[code]

4. opened it with `MaciASL.app` and applied patches from https://github.com/danieleds/Asus-UX32VD-Hackintosh/tree/master/src/DSDT

5. pressed `saved as` an

[2019-01-28 13:56] idoo commented on #5
fixed bluetooth by putting `BrcmFirmwareData.kext`

[2019-01-28 13:57] idoo commented on #5
so now my kext list looks like

[code]

[2019-01-28 14:04] idoo opened #26 "Consider about moving kext after install to /Library/Extensions"
As I got, the `/Library/Extensions` is a proper place for kext after installation (at least for wifi patches) what do you think if we'll move it to `/Library/Extensions` ?

https://github.com/RehabMan/OS-X-BrcmPatchRAM

[code]

[2019-01-28 15:17] idoo opened #27 "Updates changelog"
updated to latest 10.14.3 (18D42) — can't see any new issues

Still not working for me:

- [ ] sleep
- [ ] random display glitches on boot

[2019-01-29 08:15] idoo opened #28 "TODO: fix App Store access"
that fixed access to Mac App Store

https://www.youtube.com/watch?v=i-s_WLHX1JQ

[2019-01-29 21:56] rafaelmaeuer commented on #26
As custom kexts are not always update-safe when stored into /Library/Extensions/ I prefer to keep them injected with clover.

[2019-01-29 21:56] rafaelmaeuer commented on #28
what do you have for issues when using the app store?

[2019-02-12 15:07] idoo commented on #28
I can't reproduce it anymore, but when I tried to open it — got error, that AppStore is not available

[2019-02-12 15:09] idoo commented on #26
But I have the issue with Bluetooth sound with that configuration — it freezing. Could you test it on your laptop?

[2019-02-12 15:10] idoo commented on #27
Updated to 10.14.3 (18D109)
Still working well

[2019-02-12 15:12] idoo opened #29 "AppleALC"
As I understand `AppleALC` should work with this laptop, but I can't get it to work. Any ideas?

https://github.com/acidanthera/AppleALC/wiki/Supported-codecs

[2019-02-27 07:14] idoo opened #30 "USB fix"
https://hackintosher.com/forums/thread/list-of-hackintosh-usb-port-limit-patches-10-14-updated.467/

[2019-08-12 20:05] rafaelmaeuer commented on #23
might be unnecessary... need to test

[2019-08-12 20:06] rafaelmaeuer commented on #29
Do you have problems with VodooHDA?

[2019-08-12 20:07] rafaelmaeuer commented on #28
I never had problems with the app store

[2019-08-12 20:07] #28 closed

[2019-08-12 20:09] rafaelmaeuer commented on #12
added to readme, but its not clear if system benefits from enabling TRIM

[2019-09-06 20:16] idoo commented on #11
@rafaelmaeuer hey! looks like you updated you laptop?
did you fix sleep?

[2019-09-12 19:38] rafaelmaeuer commented on #11
hey @idoo I only updated the readme, I will update the Machine probably in 2-3 weeks, if I have time I will have a look at the sleep issue then. Are you still using yours?

[2019-09-13 09:11] idoo commented on #11
not really, it's more fun project — but I could help you to debug something if you need help :)

[2020-02-28 07:55] DemonDL opened #31 "Fans on max after reboot"
With danieleds DSDT fans rotate at maximum speed, I don't know what to do.

[2020-02-28 10:17] DemonDL commented on #31
In November, I took your or another dsdt, and there were fans working normally, it was only necessary to patch the battery fix, ALS, brightness, but now your does not plow, and I lost it and can not find, and I can not solve the problem, what is responsible for this and what should be prescribed in DSDT.

[2020-02-28 10:18] DemonDL commented on #31
generated your DSDT, patched-works as downloaded, everything works except fans after reboot

[2020-02-28 12:23] DemonDL commented on #31
I found something. http://forum.notebookreview.com/threads/fan-control-on-asus-prime-ux31-ux31a-ux32a-ux32vd.705656/
\_SB.PCI0.LPCB.EC0.SFNV 0 0   //reset fans back to Automatic fan control

how do I enable this in DSDT?

[2020-02-29 00:53] DemonDL commented on #31
the question is removed, I found the most perfect dsdt.

[2020-02-29 00:53] #31 closed

[2020-04-20 11:51] almontic opened #32 "Webacam is not recognized"
Hi Rafael, first of all thanks for your guide.
I've exactly your Notebook, with the same configuration.
Everything works fine under Calalina 10.15.4 (19E287) but WebCam.
Under System preferences it doesn't show up neither in "Camera" section or "USB" controllers.
I've tried almost everything on internet, have you got any suggestion? Does your webcam work?

[2020-04-22 11:14] almontic commented on #32
@idoo Does your camera works? Thanks a lot

[2020-04-23 11:56] idoo commented on #32
I'm using that laptop as fun project — so it still on Mojavie, and yes camera works well

[2020-04-23 12:19] #12 closed

[2020-04-23 12:42] idoo commented on #32
@almontic I could confirm that with kext + config from repo camera stop working even on Mojave

[2020-04-23 12:43] idoo commented on #11
Looks like it works after update after 1 year 🎉

[2020-04-23 12:43] #11 closed

[2020-04-23 12:46] rafaelmaeuer commented on #32
I need to check, but at the moment I don't have the time...

[2020-04-23 12:50] idoo commented on #30
works well now

[2020-04-23 12:50] #30 closed

[2020-04-23 12:51] idoo commented on #32
let me know if you need some help to test something from my side :)

[2020-04-23 14:34] almontic commented on #32
Thanks both for replies! I'm going to try to give you further info.
This is the situation of USB Controllers in System info:

![Screenshot 2020-04-23 at 16 25 39](https://user-images.githubusercontent.com/2485681/80110772-53b60500-857f-11ea-97e4-ade818d00d4c.png)

So far, the other USB works, even 3.0, but their is no trace of camera.
I tried with USBInjectAll + kext [patch for ports limit](https:

[2020-04-23 15:04] almontic commented on #29
@idoo I used at first VodooHDA but the switch between speakers and earphones wasn't automatic and it was quite annoying. I tried last version of AppleALC and everything works fine.

[2020-07-01 05:49] darthdem opened #33 "How can I fix my sleep without losing my Bluetooth?"
there was always a standard card, I replaced it with Broadcom bcm9360hmb, the Bluetooth still didn't work, then I deleted the USB Port. kext and SSDT-UIAC, the Bluetooth worked perfectly, BUT the laptop stopped falling asleep

[2020-07-01 08:25] rafaelmaeuer commented on #33
I am currently working on it -> hope for SSDT-GPRW.aml to solve this

[2020-07-01 09:09] darthdem commented on #33
Well, thank you very much, I will wait for your solution to the problem

[2020-07-01 13:20] rafaelmaeuer commented on #33
Hey although the patch didn't worked as expected, it solves the problem better than as expected 😄
Check out the latest commit to get BT and sleep work together.

[2020-07-01 13:48] darthdem commented on #33
Thank you very much, you solved the problem very quickly, now everything works perfectly!

[2020-07-01 13:48] #33 closed

[2020-07-01 19:56] rafaelmaeuer commented on #27
hey @idoo for what purpose do you intended this issue?

[2020-07-01 19:58] rafaelmaeuer commented on #26
Is this still an issue? Please reopen if it persists.

[2020-07-01 19:58] #26 closed

[2020-07-01 20:24] rafaelmaeuer commented on #23
The driver description says "Provide injection of kernel extensions from Clover folder" so it seems this should be kept.

[2020-07-01 20:24] #23 closed

[2020-07-01 20:25] rafaelmaeuer commented on #25
DSDT generation is now included in the readme.

[2020-07-01 20:25] #25 closed

[2020-07-01 20:27] rafaelmaeuer commented on #17
I think the display resolution with 1920x1080 is too small to get a satisfying result with HiDPI-Mode.

[2020-07-01 20:27] #17 closed

[2020-07-01 20:28] rafaelmaeuer commented on #9
Please check if problem persists with AsusSMC.kext

[2020-07-01 20:28] #9 closed

[2020-07-01 20:29] rafaelmaeuer commented on #13
Boot on right-sided usb-ports is working for me.

[2020-07-01 20:33] rafaelmaeuer commented on #8
My karabiner config switches cmd with alt key. Have you found a satisfying solution by modifying the touchpad kext?

[2020-07-01 20:36] #5 closed

[2020-07-01 20:37] rafaelmaeuer commented on #4
DSDT creation is now part of the readme!

[2020-07-01 20:37] #4 closed

[2020-07-01 20:37] #27 closed

[2020-07-02 09:22] rafaelmaeuer commented on #32
For me the internal camera works without problems. Please try to update with latest commit.

[2020-07-02 09:22] #32 closed

[2020-07-02 09:23] rafaelmaeuer commented on #29
I tested AppleALC and it works really nice with automatic input switch, so I replaced VoodooHDA in favour of AppleALC.

[2020-07-02 09:23] #29 closed

[2020-07-02 14:46] darthdem opened #34 "verbose mode"
In your configuration, you deleted "- v", but the detailed mode remains, is it an error or a function? :)

As for the broken screen, is there no way to fix this error? (Yes, I know that closing the cover fixes this, I even found a faster way: hold the power off button for 1-2 seconds, the screen will turn off and then turn it on).

I want to thank you for your work and for not forgetting about thi

[2020-07-02 16:16] rafaelmaeuer commented on #34
Without verbose boot (-v boot flag) you should see the Apple-logo at boot. If that is not the case, there might be something wrong. I didn't had the broken screen glitch for a while, but maybe I doesn't use the laptop frequently enough. Did you had it after setting iGPU in this [commit](https://github.com/rafaelmaeuer/Asus-UX32VD-Hackintosh/commit/542bc0ba15104b1a52633c29c68fae411667d795)?

[2020-07-02 16:51] darthdem commented on #34
I use your EFI with your settings![Снимок экрана 2020-07-02 в 21 36 54](https://user-images.githubusercontent.com/67675256/86387650-ea542000-bcac-11ea-9df6-0bdea1c49a0b.png)
now I experiment a lot and often restart, I often break the screen. but okay, I'm used to it. But the download without the Apple logo surprised me

[2020-07-02 17:38] darthdem commented on #34
resetting nvram helped me see the Apple logo, problem solved!:)
but the broken screen I still get

[2020-07-04 04:46] #34 closed

[2020-07-27 02:56] Maghoumi opened #35 ""Install" option not showing up in Clover"
First, thanks for putting this together and maintaining it! I'm very new to Hackintosh and I decided to give this a shot on my UX32VD as it's collecting dust these days! FYI, I have Ubuntu 20.04 running on it, but I wanna erase it completely and install Catalina.

I've been attempting this for the past 2 days without avail... I followed everything in your guide very carefully. I can boot up Clover

[2020-07-27 18:03] Maghoumi commented on #35
Nevermind... After trying for the 10th time, it magically worked and I was able to install everything and could use it for a few hours.

Unfortunately, something dumb happened earlier today. I went to the BIOS to disable CSM. After saving the settings and restarting, the laptop just completely died. It turns on, the fans spin and everything, but the ASUS logo doesn't come up (and there's also no o

[2020-07-27 18:03] #35 closed

[2020-07-27 21:27] BAndysc commented on #8
@idoo, @rafaelmaeuer For much much better (native macOS gestures) for Elan (according to my research, this is the touchpad in your laptop), check my version of kext: https://github.com/BAndysc/VoodooPS2/releases/

[2020-07-28 08:07] rafaelmaeuer commented on #8
thanks for the hint, I will give it a try

[2020-07-28 08:09] rafaelmaeuer commented on #35
Hey and nice you got it working. Sad to hear about your BIOS problem. Did you tried pressing power button until it switches off?

[2020-07-28 18:22] Maghoumi commented on #35
Yeah, I tried all sorts of things (unplugging the battery and the CMOS battery, etc.). To my surprise, this sudden corruption of the BIOS seems to be a common ASUS problem (e.g. https://forums.tomsguide.com/threads/laptop-black-screen-after-changing-settings-in-bios.402974/ ).

I've seen many other forum posts about this too. I'm surprised that I didn't run into this issue in my 8 years of owning

[2020-07-28 18:51] rafaelmaeuer commented on #35
Hmm strange - I wish good luck! Feel free to report the progress :)

[2020-07-31 08:07] Maghoumi commented on #35
Just a quick update: my hunch was right! It really was a corrupted BIOS issue.

To avoid having to desolder the BIOS chip, I used [this programmer](https://www.amazon.com/gp/product/B07R5LPTYM/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1) that came with an 8-pin test clip. For future reference, the BIOS chip on the UX32VD is a [Macronix MX25L6445E](https://www.macronix.com/Lists/Datasheet/Atta

[2020-07-31 08:15] rafaelmaeuer commented on #35
Hey very nice to read this :)

Regarding your lost bios-settings: I don't remember of ever having seen a CSM setting in bios... But I do remember the sound option on successful post. I thought it would be nice to replace it with the typical Apple "BOOM" startsound. But I never put further effort in this.

Glad to hear the machine is running again :)

[2020-07-31 08:25] Maghoumi commented on #35
Hmm... Interesting! I don't recall ever having that beep setting in my BIOS. This machine had 3 trips to the ASUS service center when it was about a year old. Maybe they flashed some custom BIOS or something...

Interesting idea about the Apple BOOM sound! I wonder if beep sound could be replaced by something else in the BIOS with the programmer. Will look into it at some point :)

Thanks again fo

[2020-08-01 11:16] rafaelmaeuer commented on #8
@BAndysc I tried it today and it works like a charm. Thanks for suggesting, I added the kext to the repo.

[2020-12-12 21:43] ganz-clang commented on #4
Hello, guys

Thnx for the nice topic

Did you find a way to get rid of graphics glitches ?

Also is Scale the Screen works correct for you?

[2020-12-14 11:23] idoo commented on #4
@ganz-clang nope, as I remember it still works with glitches

regarding scale — I think it works well

[2020-12-17 13:42] rafaelmaeuer commented on #4
I didn't use this laptop frequently in the last time, so I can't tell much about glitches. What do you mean by scale, do you target fullHD resolution or retina scaling?

[2020-12-19 22:12] ganz-clang commented on #4
I have had the black screen was trying to change screen resolution to 1600x900
now i've built OpenCore Based setup and this issue has gone

graphics glitches on boot/reboot are still in place

[2020-12-23 17:53] ganz-clang commented on #4
the issue is gone in case hdmi external display is on at boot/reboot

[2020-12-23 17:56] ganz-clang commented on #4
another issue is AppleALC layout-id for ALC269VB
did you found that magic number at all?

[2020-12-24 23:48] rafaelmaeuer commented on #4
My laptop has the fullHD display, working on full resolution with clover...
What do you need the ALC magic number for?
Could you share your OpenCore setup?

[2020-12-29 07:55] ganz-clang commented on #4
in order to get rid of VoodooHDA of course

[2020-12-29 14:13] rafaelmaeuer commented on #4
You can use AppleALC, it is working. VoodooHDA is just an optional alternative.

[2020-12-29 23:14] ganz-clang commented on #4
nope. I  can't ...
did you know the correct layout-id for ALC269VB codec for ASUS UX32VD ?

I've tested all of them with no luck
https://github.com/acidanthera/AppleALC/tree/master/Resources/ALC269

thnx.

[2020-12-31 12:41] rafaelmaeuer commented on #4
Sorry I just use AppleALC.kext and the sound is working...
If the problem persists fell free to open a new issue.

[2021-01-31 12:06] rafaelmaeuer commented on #8
@BAndysc in how far is your kext different from the original acidanthera/VoodoPS2 kext?
Is it possible to use it with OpenCore? I cannot get touchpad or keyboard working with OC.

[2021-01-31 12:31] BAndysc commented on #8
@rafaelmaeuer Hey, this is already merged into original Acidanthera VoodooPS2, so you should use official one now (especially that official has even few additional improvements to elan touchpad)

[2021-01-31 17:25] rafaelmaeuer commented on #8
Nice thanks a lot for the quick response! My problem was adding the kext manually, so I forgot the kernel plugins :)

[2021-01-31 17:25] #8 closed

[2021-02-03 10:26] rafaelmaeuer commented on #13
I found out that right USB next to AC is not working at all. Did you experience the same? USB next to HDMI is working for me also on boot...

[2021-02-09 09:21] rafaelmaeuer commented on #13
I was able to fix it with a correct USB-Mapping

[2021-02-09 09:21] #13 closed

[2021-02-11 12:47] rafaelmaeuer commented on #29
During the rebuild with OpenCore I noticed that there is no support of internal mic using alcid=3. So I tested all ASUS-related layouts found in [ALC269/Info.plist](https://github.com/acidanthera/AppleALC/blob/master/Resources/ALC269/Info.plist) with following results:

- alcid=3: audio + switch, no mic (Asus K53SJ, Asus G73s)
- alcid=12: audio, no switch + mic (Asus Vivobook S200CE)
- alcid=19: a

[2021-02-11 12:50] rafaelmaeuer commented on #30
For the rebuild with OpenCore an USB-Mapping was created with help of [corpnewt/USBMap](https://github.com/corpnewt/USBMap) following  Dortanias [USB Mapping-Guide](https://dortania.github.io/OpenCore-Post-Install/usb/intel-mapping/intel.html) which fixes all USB devices to work as expected.

[2021-09-24 09:29] rafaelmaeuer opened #36 "Try RealtekCardReader(+Friend).kext"
Internal Card-Reader seem to work with [0xFireWolf/RealtekCardReader](https://github.com/0xFireWolf/RealtekCardReader) and [0xFireWolf/RealtekCardReaderFriend](https://github.com/0xFireWolf/RealtekCardReaderFriend):

[code]

[2021-10-24 16:11] rafaelmaeuer commented on #36
Today I had the chance to give this a try, I updated all kexts and OpenCore to the latest version before testing. This is what system preferences shows in USB section about the device:

![Bildschirmfoto 2021-10-24 um 17 01 25](https://user-images.githubusercontent.com/6418459/138602426-4599b688-4185-4fcf-8095-53878e628d2c.png)

This controller with `product-id=0139` is listed under `Supported Devi

[2021-10-30 16:22] juliovalco commented on #36
Excellent!

[2022-01-09 14:25] rafaelmaeuer commented on #36
It works, but mounting a card was prevented by bitdefender-shield. So be aware to check your antivirus if you have the same issue.

[2022-01-09 14:25] #36 closed